<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem name="Contacts" parent="l10n_pe_conf.pragmatic_root"
              sequence="2"
              id="pragmatic_contact_conf"/>

    <menuitem id="pragmatic_contact_sunat_values"
              sequence="1"
              name="Sunat Values"
              parent="pragmatic_contact_conf"/>

    <menuitem id="pragmatic_sunat_table_25"
              sequence="1"
              name="Sunat Table 25 - Agreement Avoid double taxation"
              parent="pragmatic_contact_sunat_values"
              action="pragmatic_table_25_action"/>

    <menuitem id="pragmatic_sunat_annexced_2"
              sequence="2"
              name="Sunat Annexed 2 - Type Person"
              parent="pragmatic_contact_sunat_values"
              action="pragmatic_annexed_2_action"/>

    <menuitem id="pragmatic_sunat_latam_identification_type"
              sequence="3"
              name="Sunat - Type Identification"
              parent="pragmatic_contact_sunat_values"
              action="l10n_pe_contacts.pg_l10n_latam_identification_type_action_window"/>

    <menuitem id="pragmatic_location"
              sequence="4"
              name="Location"
              parent="pragmatic_contact_conf"/>

    <menuitem id="pragmatic_location_countries"
              name="Countries"
              parent="pragmatic_location"
              sequence="1"
              action="base.action_country"/>
    <menuitem id="pragmatic_location_states"
              name="State/Departament"
              parent="pragmatic_location"
              action="base.action_country_state"
              sequence="2"/>
    <menuitem id="pragmatic_location_provinces"
              name="Provinces"
              parent="pragmatic_location"
              action="l10n_pe_contacts.pg_action_res_city"
              sequence="3"/>
    <menuitem id="pragmatic_location_district"
              name="Districts"
              parent="pragmatic_location"
              action="l10n_pe_contacts.pg_action_res_city_district"
              sequence="4"/>
</odoo>